body {
    background-color: dimgrey
}

.background {
    background-color: #85583e
}

.tableback {
    background-color: antiquewhite;
}

.green {
    background-color: green;
}

.lightblue {
    color: lightblue
}

.lightblueback {
    background-color: lightblue
}

.red {
    background-color: #8a0e0e;
}